<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AHOI_CLOUDKIT_CONTAINER_ID</key>
	<string>$(AHOI_CLOUDKIT_CONTAINER_ID)</string>
	<key>AHOI_COMMAND_KEYCHAIN_ACCESS_GROUP</key>
	<string>$(AHOI_COMMAND_KEYCHAIN_ACCESS_GROUP)</string>
	<key>AHOI_COMMAND_KEYCHAIN_ACCOUNT</key>
	<string>$(AHOI_COMMAND_KEYCHAIN_ACCOUNT)</string>
	<key>AHOI_COMMAND_KEYCHAIN_SERVICE</key>
	<string>$(AHOI_COMMAND_KEYCHAIN_SERVICE)</string>
	<key>AHOI_SYNC_KEYCHAIN_ACCESS_GROUP</key>
	<string>$(AHOI_SYNC_KEYCHAIN_ACCESS_GROUP)</string>
	<key>AHOI_SYNC_KEYCHAIN_ACCOUNT</key>
	<string>$(AHOI_SYNC_KEYCHAIN_ACCOUNT)</string>
	<key>AHOI_SYNC_KEYCHAIN_SERVICE</key>
	<string>$(AHOI_SYNC_KEYCHAIN_SERVICE)</string>
	<key>AHOI_SYNC_KEY_VERSION</key>
	<string>$(AHOI_SYNC_KEY_VERSION)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AhoiBrowser</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>AhoiBrowser Web Links</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>AhoiBrowser asks only when a website you are using requests the camera.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AhoiBrowser asks only when a website you are using requests your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>AhoiBrowser asks only when a website you are using requests the microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>AhoiBrowser asks only when a website you are using requests motion sensors.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
