#include "AhoiMobile.Public.xcconfig"

AHOI_BUILD_MODE = DefaultBrowserDevelopment
AHOI_SOURCE_COMMIT = NOT_AVAILABLE
AHOI_MOBILE_MARKETING_VERSION = 0.1
AHOI_MOBILE_BUILD_NUMBER = 1
AHOI_APP_USES_NON_EXEMPT_ENCRYPTION = NO
AHOI_APS_ENVIRONMENT = development
AHOI_CLOUDKIT_CONTAINER_ENVIRONMENT = Development
CODE_SIGN_STYLE = Automatic
