<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dateCreated</key>
	<date>2026-09-22T20:53:09Z</date>
	<key>directoryImportMode</key>
	<string>concurrent</string>
	<key>externalLocations</key>
	<array/>
	<key>rootId</key>
	<dict>
		<key>hash</key>
		<string>0~yUQ-zqBESajrdT4hU6-XLSkMoKVb_--20jSzGD9Ti4dA7p2hDWesK2--liknRu4WopERp73_r21yMXh1MfUuRA==</string>
	</dict>
	<key>storage</key>
	<dict>
		<key>backend</key>
		<string>fileBacked2</string>
		<key>compression</key>
		<string>standard</string>
	</dict>
	<key>version</key>
	<dict>
		<key>major</key>
		<integer>3</integer>
		<key>minor</key>
		<integer>60</integer>
	</dict>
</dict>
</plist>
